Package: virt-viewer
Version: 4.0-1
Architecture: armhf
Maintainer: Jun Tsai <jcai@ganshane.com>
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 1351
Depends: libc6 (>= 2.4), libgdk-pixbuf2.0-0 (>= 2.25.2), libglib2.0-0 (>= 2.38), libgtk-3-0 (>= 3.10), libpango-1.0-0 (>= 1.14.0), libspice-client-glib-2.0-8 (>= 0.31), libspice-client-gtk-3.0-4 (>= 0.31), libxml2 (>= 2.7.4)
Suggests: netcat
Section: admin
Priority: extra
Homepage: http://virt-manager.et.redhat.com/
Description: Displaying the graphical console of a virtual machine
 The console is accessed using the VNC protocol. The guest can be referred to
 based on its name, ID, or UUID. If the guest is not already running, then the
 viewer can be told to wait until is starts before attempting to connect to the
 console The viewer can connect to remote hosts to lookup the console
 information and then also connect to the remote console using the same network
 transport.
