Package: libspice-client-glib-2.0-8
Source: spice-gtk
Version: 0.31-1
Architecture: armhf
Maintainer: Jun Tsai <jcai@ganshane.com>
Original-Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Depends: libc6 (>= 2.14), libjpeg8 (>= 8c), libopus0 (>= 1.1), libpixman-1-0 (>= 0.30.0), libpulse-mainloop-glib0 (>= 0.99.1), libpulse0 (>= 0.99.1), libsasl2-2, libssl1.0.0 (>= 1.0.0)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.spice-space.org/
Description: GObject for communicating with Spice servers (runtime library)
 libspice-glib4 provides glib objects for spice protocol
 decoding and surface rendering
 .
 This package provide the runtime library.
